.add-blog-head {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 28px 0;
  border-bottom: 1px solid #e4e3eb;
  position: sticky;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 100;
}

.add-blog-main-container {
  display: flex;
  padding: 40px 76px;
  align-items: flex-start;
  justify-content: center;
}

.add-blog-main-title {
  font-size: 32px;
  line-height: 40px;
  color: #1a1a1f;
  font-weight: 700;
  margin-bottom: 40px;
}

.upload-file-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 48px 166px;
  background-color: #f4f3ff;
  border: 1px dashed #85858d;
  border-radius: 12px;
  margin-top: 8px;
}

ul {
  padding-left: 15px;
}

.upload-parag {
  margin-top: 24px;
  color: #1a1a1f;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.upload-span {
  margin-top: 24px;
  color: #1a1a1f;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  text-decoration: underline;
}

li {
  margin-top: 5px;
  color: #85858d;
  font-size: 12px;
  line-height: 20px;
}
.val-symbol {
  margin-top: 5px;
  color: #85858d;
  font-size: 12px;
  line-height: 20px;
}
.auth-and-blog-container {
  display: flex;
  justify-content: space-between;
  margin: 24px 0;
}
.add-blog-auth-cont {
  width: 50%;
  margin-right: 24px;
}

.cont-category {
  width: 50%;
  position: relative;
}
.add-blog-title-cont {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.add-blog-input {
  padding: 12px 16px;
  width: 100%;
  background-color: #f7f7ff;
  border: 1.5px solid #e4e3eb;
  border-radius: 12px;
  margin: 8px 0;
  outline: none;
}

.add-blog-title {
  color: #1a1a1f;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

textarea {
  width: 100%;
  resize: none;
  height: 124px;
  border: 1px solid #e4e3eb;
  border-radius: 12px;
  padding: 12px 16px;
  color: #85858d;
  font-size: 14px;
  line-height: 20px;
  margin-top: 8px;
  outline: none;
}

.date-categories-container {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}

.category-input-cont {
  padding: 12px 16px;
  margin-top: 8px;
  border-radius: 12px;
  border: 1px solid #e4e3eb;
  outline: none;
  width: 100%;
  background-color: #f7f7ff;
  border: 1.5px solid #e4e3eb;
}

.date-input {
  padding: 12px 16px;
  margin-top: 8px;
  border-radius: 12px;
  border: 1px solid #e4e3eb;
  outline: none;
  width: 100%;
  height: 66px;
  background-color: #f7f7ff;
  border: 1.5px solid #e4e3eb;
  align-items: center;
}

.selectCategory-cont {
  padding: 7px 6px 7px 12px;
  margin-top: 8px;
  border-radius: 12px;
  border: 1px solid #e4e3eb;
  outline: none;
  width: 100%;
  background-color: #f7f7ff;
  border: 1.5px solid #e4e3eb;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  width: 288px;
  height: 66px;
  align-items: center;
}

.arrow-down {
  position: absolute;
  top: 45px;
  right: 25px;
}

.category-btn {
  border: none;
  padding: 8px 16px;
  margin-right: 24px;
  border-radius: 30px;
  margin-bottom: 20px;
  cursor: pointer;
  font-family: "FiraGO";
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.category-dropDown {
  width: 288px;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  height: 144px;
  overflow: auto;
  border: 1px solid #e4e3eb;
  border-radius: 12px;
  padding: 20px 0;
}

.email-input-blog {
  width: 100%;
  padding: 12px 16px;
  border-radius: 12px;
  border: 1.5px solid #e4e3eb;
  outline: none;
  background-color: #fcfcfd;
  color: #85858d;
  font-size: 14px;
  line-height: 20px;
}

.add-blog-submit-btn-disable {
  width: 50%;
  margin-top: 40px;
  background-color: #e4e3eb;
  border-radius: 8px;
  outline: none;
  border: none;
  padding: 10px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.add-blog-submit-btn {
  width: 50%;
  margin-top: 40px;
  background-color: #5d37f3;
  border-radius: 8px;
  outline: none;
  border: none;
  padding: 10px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.add-blog-modal-container {
  width: 480px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
  border: none;
}
.uploaded-image-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  background-color: #f2f2fa;
  border-radius: 12px;
}
.image-and-image-name {
  display: flex;
  align-items: center;
}

.image-and-image-name img {
  margin-right: 12px;
  cursor: pointer;
}

.selected-category-btn {
  display: flex;
  align-items: center;
  padding: 4px 12px;
  border: none;
  margin-right: 12px;
  border-radius: 30px;
  font-size: 12px;
  cursor: pointer;
  white-space: nowrap;
}

.upload-blog-modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.upload-blog-modal-container h3 {
  font-size: 20px;
  line-height: 28px;
  color: #1a1a1f;
  font-weight: bold;
  margin-top: 16px;
  margin-bottom: 48px;
}

.upload-blog-modal-container button {
  width: 100%;
  padding: 10px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  border-radius: 8px;
  background-color: #5d37f3;
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
}
