.home-page-main-container {
  background-color: #f4f3ff;
  padding: 0 76px;
}

.blog-image-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 64px;
  margin-bottom: 64px;
}

.blog-image-title h1 {
  font-family: "FiraGO";
  font-weight: bold;
  font-size: 64px;
  line-height: 72px;
  color: #1a1a1f;
}

.category-container {
  display: flex;
  /* justify-content: space-between; */
  width: 30%;
  /* align-items: center; */
  overflow-x: scroll;
}

.category-container::-webkit-scrollbar {
  width: 4px;
}

.category-container::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 8px;
  height: 2px; /* Adjust the height as needed */
}

.category-container::-moz-scrollbar-thumb {
  background-color: grey;
  border-radius: 8px;
  height: 2px; /* Adjust the height as needed */
}

.category-container {
  scrollbar-width: thin;
}

.categories-main-container {
  display: flex;
  justify-content: center;
}

.category-container button,
.blog-category-btn {
  border: none;
  padding: 8px 16px;
  margin-right: 24px;
  border-radius: 30px;
  margin-bottom: 20px;
  cursor: pointer;
  font-family: "FiraGO";
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.blog-card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-contaner {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
  gap: 32px; /* Adjust the gap between cards */
  padding: 64px 0;
}

.blog-card-main-image {
  width: 100%;
  height: 328px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 24px;
}

.blog-author {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #1a1a1f;
}

.blog-date {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #85858d;
  margin-bottom: 16px;
  margin-top: 8px;
}

.blog-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #1a1a1f;
  margin-bottom: 16px;
  min-height: 56px;
}

.blog-categories-cont {
  display: flex;
  min-height: 56px;
}
.blog-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #404049;
  margin-bottom: 16px;
  min-height: 56px;
}

.view-all-contaner {
  display: flex;
}
.view-all-btn {
  border: none;
  background-color: transparent;
  color: #5d37f3;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  margin-right: 4px;
}
